/*Цвет кнопки*/
.ec-size .ec-store .form-control--primary .form-control__button {
background-color: red;
}

/*Цвет кнопки при наведении*/
.ec-size .ec-store .form-control--primary .form-control__button:hover {
background: #F0F8FF;
}
впаиет
етевте
ететпвтивптьгбшщ5576
ващщлкплухщмилзпп
r
к
мкм
ыкмkbr3pgok4-f
кркер
всмьл dvk lkflmvbeofkbmf[pldvz
d[pfkb im=pemb=0re m
f
мкызуп0цшкыиьмзхыпьи
киыщ
ногнлгнл оеклгноуdvfb
rbfbwrwbr
rbnbdtnetn
кон
.ec-size .ec-store .form-control--primary .form-control__button {
color: black;ер
всмьл dvk lkflmvbeofkbmf[pldvz
d[pfkb im=pemb=0re m
f
мкызуп0цшкыиьмзхыпьи
киыщ
ногнлгнл оеклгноукон
.ec-size .ec-store .form-control--primary .form-control__button {
color: black;ер
всмьл dvk lkflmvbeofkbmf[pldvz
d[pfkb im=pemb=0re m
f
мкызуп0цшкыиьмзхыпьи
киыщ
ногнлгнл оеклгноукон
.ec-size .ec-store .form-control--primary .form-control__button {
color: black;ер
всмьл dvk lkflmvbeofkbmf[pldvz
d[pfkb im=pemb=0re m
f
мкызуп0цшкыиьмзхыпьи
киыщ
ногнлгнл оеклгноукон
.ec-size .ec-store .form-control--primary .form-control__button {
color: black;ер
всмьл dvk lkflmvbeofkbmf[pldvz
d[pfkb idbrbrb
  rebebrbbqeb2bm=pemb=0re m
f
мкызуп0цшкыиьмзхыпьи
киыщ
ногнлгнл оеклгноукон
.ec-size .ec-store .form-control--primary .form-control__button {
color: black;ер
всмьл dvk lkflmvbeofkbmf[pldvz
d[pfkb im=pemb=0re m
f
мкызуп0цшкыиьмзхыпьи
киыщ
  svrebb
ногнлгнл оеклгноукон
.ec-size .ec-store .form-control--primary .form-control__button {
color: black;ер
всмьл dvk lkflmvbeofkbmf[pldvz
d[pfkb im=pemb=0re m
f
мкызуп0цшкыиьмзхыпьи
киыщ
ногнлгнл оеклгноукон
.ec-size .ec-store .form-control--primary .form-control__button {
color: black;ер
всмьл dvk lkflmvbeofkbmf[pldvz
d[pfkb im=pemb=0re m
f
мкызуп0цшкыиьмзхыпьи
киыщ
ногнлгнл оек
всмьл dvk lkflmvbeofkbmf[pldvz
d[pfkb im=pemb=0re m
f
мкызуп0цшкыиьмзхыпьи
киыщ
ногнлгнл оеклгноукон
.ec-size .ec-store .form-control--primary .form-control__button {
color: black;
}cn v;dlkf'vldsjvp'fbj[f]podjvb[qpirbj][pjbpqtienb

/*Цвет текста при наведении*/
.ec-size .ec-store .form-control--primary .form-control__button:hover {
color: black;
}
