/*Цвет кнопки*/
.ec-size .ec-store .form-control--primary .form-control__button {
background-color: red;
}

/*Цвет кнопки при наведении*/
.ec-size .ec-store .form-control--primary .form-control__button:hover {
background: #F0F8FF;
}

/*Цвет текста*/упкунрекркер
всмьл dvk lkflmvbeofkbmf[pldvz
d[pfkb im=pemb=0re m
f
мкызуп0цшкыиьмзхыпьи
киыщ
ногнлгнл оеклгноукон
.ec-size .ec-store .form-control--primary .form-control__button {
color: black;
}cn v;dlkf'vldsjvp'fbj[f]podjvb[qpirbj][pjbpqtienb

/*Цвет текста при наведении*/
.ec-size .ec-store .form-control--primary .form-control__button:hover {
color: black;
}
